@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components
 {
  .left-side{
   
   font-size: 72px;
   position: relative;
  }
  }
  .left-side::after{
    content:"";
    position:absolute;
   
    left: -20px;
    right: 0;
    bottom: -80px;
    height:50px;
    background-color: aqua;
  } */
  